<!DOCTYPE html>
<html>

<head>
        <link rel="stylesheet" href="/public/style.css">
        <link rel="stylesheet" href="/public/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/bootstrap-grid.min.css">
</head>

<body>
        <div>
                <a href="/">Home</a>
        </div>
        <h1> Tasks </h1>
        <script src="/public/js/bootstrap.bundle.min.js"></script>
        <script src="/public/js/bootstrap.min.js"></script>

        <table align="center" >
                  <tr>
                        <th>TaskId</th>
                        <th>TaskName</th>
                        <th>TaskDescription</th>
                        <th>TaskPriority</th>
                        <th>Action</th>
                </tr>
                <% data.tasks.forEach(item=> { %>
                        <tr>
                                <form action="/update/<%= item._id %>" method="POST" name="taskform" id="taskform">

                                        <td>
                                                <input type="text" name="taskId" value="<%=item.taskId %>" size="5">
                                        </td>
                                        <td>
                                                <input type="text" name="taskName" value="<%=item.taskName %>" size="20">
                                        </td>
                                        <td>
                                                <input type="text" name="taskDescription" value="<%=item.taskDescription %>" size="40">
                                        </td>
                                        <td>
                                                <input type="number" name="taskPriority" value="<%=item.taskPriority %>" style="width: 80px">
                                        </td>
                                        <td>
                                                <input type="submit" value="Update">
                                        </td>
                                </form>
                        </tr>
                        </tr>
                        <% }) %>
        </table>
</body>

</html>